@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
*{
    box-sizing: border-box;
}

h1{
    color: #50fa7b;
    font-family: 'Abril Fatface', cursive;
    line-height: 0.5rem;
    font-size: 3.5rem;
}

p{
    color: #ff79c6;
    font-size: 1.5rem;
}
body{
    background-color: #282a36;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
    padding: 1rem;
}

.heading{
    text-align: center;
}


form{
    display: flex;
    flex-direction: column;
    width: 30rem;
}

input{
    padding: 0.5rem;
    margin: 0.5rem 0;
    font-family: 'DM Sans', sans-serif;
    border-radius: 0.4rem;
    width: 100%;
}

textarea{
    margin: 0.5rem 0;
    font-family: 'DM Sans', sans-serif;
    border-radius: 0.4rem;
}

button{
    background-color: #50fa7b;
    border: none;
    padding: 0.7rem;
    font-family: 'DM Sans', sans-serif;
    margin: 0.5rem 0;
    color: #44475a;
    font-weight: bold;
    border-radius: 0.4rem;
    font-size: 1rem;

}

button:hover{
    opacity: 0.5;
}