:root{
    --clr-header: #282a36;
    --clr-text-primary: white;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}
header{
    background-color: var(--clr-header);
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
}

ul{
    display: flex;
    justify-content: space-between;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--clr-text-primary);
}

nav{
    width: 20rem;
    padding: 0 0.5rem 0 0;
}

.test{
    background-color: var(--clr-header);
    color: var(--clr-text-primary);
}

.login-wrapper{
    background-color: var(--clr-text-primary);
    display: flex;
   
}



.login-wrapper form{
    display: flex;
    flex-direction: column;
}